body, html {
	background: #000;
	padding: 0;
	margin: 0;
}

/*
---------------------------------
	Framework
---------------------------------
 */
div#app {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
div#grid {
    position: relative;
    margin: 61px 61px 67px 61px;
	z-index: 2;
}

/*
------------------------------------
	Borders
------------------------------------
*/
div.border {
	background-image: url(../img/border.png);
	position: absolute;
	z-index: 1;
}
div.border-ul {
	background-position: -22px -15px;
	width: 196px;
	height: 62px;
	left: 0;
	top: 0;
}
div.border-uc {
	background-image: url(../img/repeat-u.png);
	background-repeat: repeat-x;
	height: 62px;
	left: 196px;
	right: 252px;
	top: 0;
}
div.border-ur {
	background-position: -229px -15px;
	width: 252px;
	height: 62px;
	right: 0px;
	top: 0;
}
div.border-lu {
	background-position: -22px -78px;
	left: 0;
	top: 62px;
	width: 60px;
	height: 50px;
}
div.border-lc {
	background-image: url(../img/repeat-l.png);
	background-repeat: repeat-y;
	width: 60px;
	top: 112px;
	bottom: 346px;
}
div.border-lb {
	background-position: -22px -135px;
	left: 0;
	bottom: 0;
	width: 60px;
	height: 346px;
}
div.border-bl {
	background-position: -82px -415px;
	left: 60px;
	bottom: 0;
	width: 162px;
	height: 66px;
}
div.border-bc {
	background-image: url('../img/repeat-b.png');
	background-repeat: repeat-x;
	height: 66px;
	left: 222px;
	right: 230px;
	bottom: 0;
}
div.border-br {
	background-position: -251px -415px;
	width: 170px;
	height: 66px;
	bottom: 0;
	right: 60px;
}
div.border-rb {
	background-position: -421px -241px;
	width: 60px;
	height: 240px;
	bottom: 0;
	right: 0;
}
div.border-rc {
	background-image: url('../img/repeat-r.png');
	background-repeat: repeat-y;
	width: 60px;

	right: 0;
	bottom: 240px;
	top: 208px;
}
div.border-ru {
	background-position: -421px -80px;
	width: 60px;
	height: 146px;
	top: 62px;
	right: 0;
}
div.board {
	background-image: url(../img/board.png);
	position: absolute;
	bottom: 8px;
	width: 82px;
	height: 44px;
	z-index: 3;
	line-height: 44px;
	font-size: 24px;
	color: #fff;
	text-align: center;
	overflow: visible;
	font-family: 'Microsoft YaHei', 'Consolas'
}
div.board>img {
	position: absolute;
	top: -4px;
}
div.board-l {
	left: 20%;
}
div.board-l>img{
	left: -56px;
}

div.board-r {
	right: 20%;
}
div.board-r>img{
	right: -56px;
}

/*
-----------------------------------
	Cells
-----------------------------------
*/
.cell {
    float: left;
    height: 36px;
    width: 36px;
}
div.cell-cover {
	background-image: url("../img/full.png");
	height: 37px;
	width: 37px;
	position: absolute;
	z-index: 7;
	transition-duration: 0.2s;
	transition-property: opacity;
	transition-timing-function: cubic-bezier(0.2, 0.8, 0.2, 0.8);
}
div.cell-uncovered {
	opacity: 0;
}
div.cell-bottom {
	background-image: url("../img/full.png");
	position: absolute;
	height: 36px;
	width: 36px;
	z-index: 5;
}
div.cell-flag {
	background-image: url("../img/full.png");
	position: absolute;
	height: 37px; width: 37px;
	z-index: 8;
	background-position: -800px -1122px;
}

div.cell-content {
	background-image: url("../img/full.png");
	position: absolute;
	height: 37px; width: 37px;
	z-index: 6;
	background-position: -2000px -400px;
}
div.cell-1 {
    background-position: -2001px -1px;
}
div.cell-2 {
    background-position: -2001px -41px;
}
div.cell-3 {
	background-position: -2001px -81px;
}
div.cell-4 {
	background-position: -2001px -121px;
}
div.cell-5 {
	background-position: -2001px -161px;
}
div.cell-6 {
	background-position: -2001px -201px;
}
div.cell-7 {
	background-position: -2001px -241px;
}
div.cell-8 {
	background-position: -2001px -281px;
}

div.cell-mine {
	background-position: -1800px -1120px;
}

div.cell-mine-stepped {
	background-position: -1841px -1121px;
}
div.cell-shadow-u {
		background-image: url("../img/full.png");
	position: absolute;
	height: 37px; width: 37px;
	z-index: 6;
	background-position: -2000px -400px;
}
